body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 0.5em;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.anime-card {
  width: 250px;
  margin: 1em;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.anime-card:hover {
  transform: scale(1.05);
}

.anime-card img {
  width: 100%;
  height: auto;
}

.anime-info {
  padding: 1em;
}
